body {
  background-color: #D0EAF2
}

.animation {
  width: 100%;
  font-size: 35px;
  display: block;
  margin: auto;
  padding: inherit;
  text-align: center;
  animation-name: change;
  transition: 1s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0% {color: black;}
  25% {color: purple;}
  50% {color: black;}
  100% {color: purple;}
}

h1 {
  font-size: 35px;
}

h1:hover {
  font-size: 55px;
}
